*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   
   font-family: Arial, Helvetica, sans-serif;
}

/*-------*/
.titulo{
    display: inline-flex;
    width: 100%;
    max-height: 250px;
    background: black;
    color: white;
}
.titulo img{
    border-radius: 50%;
    width: 150px;
    margin:20px;
}
.titulo h1{
    margin: 20px;
    padding-top: 5%;
}

/*-------*/
.menu{
    background: bisque;
}

.menu ul{
    margin-left: 5%;
    list-style: none;

}
.menu ul li {
    display: inline-flex;
}
.menu ul li a{
    padding: 15px;
    text-decoration: none;
    color: black;
}
.menu ul li a:hover{
    background: black;
    color:white;
}

/*--Main--*/
.main{
    background-image: url(../img/fondoCR7.jpg);
    background-attachment: fixed;
}

.main .container{
    width: 50%;
    font-size: 25px;
    margin: auto;
    padding: 10%;
    color:white;
    text-align: center;
}
.main .container img{
    width: 500px;
}

/*Biografia*/
.bio{
    padding-top: 50px;
    width: 70%;
    margin: auto;
    text-align: justify;
    font-size: 15px;
    line-height: 25px;
}
.bio img{
    width: 400px;
    margin-left: 35%;
    border-radius: 10px;
}

/*Logros*/
.logros{
    padding-top: 50px;
    width: 70%;
    margin: auto;
    text-align: justify;
    font-size: 15px;
    line-height: 25px;
}
.logros ul{
    margin-left: 5%;
}
/*Familia*/
.familia{
    padding-top: 50px;
    width: 70%;
    margin: auto;
    text-align: justify;
    font-size: 15px;
    line-height: 25px;
}

/*Curiosidades*/
.curiosidades{
    padding-top: 50px;
    width: 70%;
    margin: auto;
    text-align: justify;
    font-size: 20px;
    line-height: 35px;
}


/*Footer*/
footer{
    color: white;
    text-align: center;
    padding: 25px;
    background: black;
}
